<div>
    <div class="submit-form">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="id" class="form-control" id="id" name="id">
        </div>
        
        <div class="form-group">
            <label for="customer_name">Customer Name</label>
            <input type="text" class="form-control" id="customer_name" name="customer_name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <button (click)="addCustomer()" class="btn btn-success">Add Customer</button>
    </div>

</div>
